<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clue 6</title>
    <!--from yip to me-->
</head>
<body>
    <style>
       body{
           background-color: cornflowerblue;
           color: white;
       }
       p{
           text-align: center;
           font-size: xx-large;
       }
       img{
           width: 90%;
           margin-left: 5%;
       }
   </style>

    <p>Find the Last Webmaster!!</p>
    <img src="/static/images/clues/webmaster.jpg">
</body>
</html>