<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Patua+One|Poiret+One|Righteous' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <img src="static/images/gray.png" id="bg" alt="">
    <nav>
{#        <menuitem><a href="/"><p>Countdown</p></a></menuitem>#}
    </nav>
{% block content %}{% endblock %}
</body>
</html>